body{
    font-family: arial;
}

table{
    margin: 0 auto;
    height: 50%;
    width: 45%;
}
.a{
    font-size: 1.5em;
}
.b{
    font-size: 15px;
}
.c{
    font-size: 13px;
    color: rgb(163, 164, 164);
}
.d li{
    font-size: 13px;
    color: rgb(163, 164, 164);
    list-style: none;
}
#read-more-btn {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 0 auto;
}